.types__wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    height: fit-content;
    max-width: 285px;
    width: 100%;
}

.type {
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;

}

.type:not(.type:last-child) {
    margin-bottom: 24px;
}

.active_type {
    font-weight: bold;
}